Link {
  text-decoration: none;
}
.navbar {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: space;
  align-item: center;
  .logo {
    max-height: 7vh;
  }
}

.nav-menu {
  text-align: right;
  position: absolute;
  right: 10px;
  right: 3px;
}
.nav-list {
  display: flex;
  font-size: 20px;
  gap: 2vw;
  align-items: center;
  list-style-type: none;
}
.nav-item {
  padding: 3px;
  display: inline-block;
  flex-basis: 20%;
  margin-right: 3px;
  text-decoration: none;
}
