.header {
  background: radial-gradient(#fff, #444);
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col {
  flex-basis: 50%;
  min-width: 300px;

  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 120px;
    transition: all 2s;
    &:hover {
      color: #930;
    }
  }
  p {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    transition: all 1s;

    &:hover {
      color: #930;
    }
  }
  img {
    max-width: 100%;
    min-height: 100vh;
    padding: 50px 0;
    transition: all 2s;
    filter: grayscale(70%);
    &:hover {
      filter: grayscale(10%);
    }
  }
}
